
<div class="logo">
  <div class="logo-normal">
    <a  class="simple-text">
      Modular App
    </a>
  </div>

  <div class="logo-img">
    <img src="/assets/img/angular2-logo.png"/>
  </div>
</div>


<div class="sidebar-wrapper">

  <div class="nav-container">
    <ul class="nav">
      <li *ngFor="let menuitem of Tables$" >
        <a [routerLink]="[menuitem.table_name]">
          <p active  >{{menuitem.table_name | titlecase}}</p>
        </a>
        
      </li>
    </ul>
  </div>

</div>
