<div class="logo">
  <a class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/angular2-logo-red.png" />
    </div>
    Research App
  </a>

</div>


<div class="sidebar-wrapper" >

 
  <div class="container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label> Search Tables</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='getPosts($event.option.value)'>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.table_name|titlecase}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>

  <div>

      <p class="p2" >Table List</p>
   
    
    <div>
    
  <ul class="nav" id="dragListTable" cdkDropList [cdkDropListConnectedTo]="['dropListTable']">
 
    <li   *ngFor="let menuItem of tableMap;let i=index" 
    [ngClass]="{'active': selectedIndex == i, 'nav-item': true}"
    cdkDrag [cdkDragData]="menuItem">
      <a class="nav-link" [routerLink]="[menuItem.table_name]">
        <p>{{getConcatString(menuItem.table_name) | titlecase}}</p>
      </a>

    </li>
  </ul>
</div>
</div>

</div>