<div class="logo">
  <a href="https://www.creative-tim.com" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/angular2-logo-red.png" />
    </div>
    Research App
  </a>
</div>
<div class="collapse navbar-collapse justify-content-end" id="navigation">
  <form class="navbar-form">
    <span class="bmd-form-group">
      <div class="input-group no-border">
        <input type="text" value="" class="form-control" placeholder="Search...">
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
          <i class="material-icons">search</i>
          <div class="ripple-container"></div>
        </button>
      </div>
    </span>
  </form>
</div>



<!-- 
<div class="sidebar-wrapper">
        <ul class="nav" cdkDropList id="drag-list"  (cdkDropListDropped)="drop($event)">
             <li routerLinkActive="active" *ngFor="let menuItem of Tables$" 
             class="{{menuItem.class}} nav-item" 
             cdkDrag>
            <a class="nav-link" [routerLink]="[menuItem.table_name]">
              <p >{{menuItem.table_name | titlecase}}</p>
            </a>
    
          </li>
    </ul>
</div>
 -->

<div class="sidebar-wrapper" id="dragListTable" cdkDropList [cdkDropListConnectedTo]="['dropListTable']">
  <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menuItem of tableMap" cdkDrag [cdkDragData]="menuItem">
      <a class="nav-link" [routerLink]="[menuItem.table_name]">
        <p>{{menuItem.table_name | titlecase}}</p>
      </a>

    </li>
  </ul>
</div>
