<!-- Main Container -->
<div class="container-fluid bg-gradient-danger pb-8 pt-5 pt-md-5">

  <!-- Section dashboard  -->
  <div class="container-fluid mb-4 ">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <!-- Section for left panel -->
          <div class="col-3">
            <app-left-container></app-left-container>
          </div>

          <!-- Section for center panel -->
          <div class="col-9">
            <app-center-container></app-center-container>

          </div>

        </div>


      </div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>
